.profile-logo {
  height: 40px;
}
.profile-card {
  width: 400px;
  height: 300px;
  flex-grow: 1;
  flex-basis: 50%;
  margin: 4px;
}
.button-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
