<footer>
  <div class="footer mat-primary">
    <div class="footer-list">
      <div class="footer-logo">
        <a href="https://github.com/czo02/pwa-spring-demo" mat-button class="no-hover-effect">
          <img class="footer-github-logo" src="assets/img/github-logo.svg">
          <span class="mat-button-wrapper">Angular PWA Demo</span>
        </a>
      </div>
      <div class="footer-text">
        <span>Made with &hearts; and ☕</span>
      </div>
      <div class="footer-copyright">
        <span>©2018 by czo02</span>
      </div>
    </div>
  </div>
</footer>
